<a href="https://colab.research.google.com/github/MadhiraSrinivas/Phyton/blob/main/Assignment's.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Assignment Work***

In [ ]:
#Assignment #1
#-------------
print("Srinivasa Reddy Madhira")
print("Playing Badminton")
print("2 hours")

Srinivasa Reddy Madhira
Playing Badminton
2 hours

In [ ]:
#Assignment 2: Working with Variables
#-----------------------------------
name="Srini"
age=35
fc="Blue"
print("My name is ",name,"I am ",age,"years old, ","and my favorite color is",fc)

My name is  Srini I am  35 years old,  and my favorite color is Blue

In [ ]:
# Assignment 3: Simple Input and Output
#--------------------------------------
fname=input("Enter your First Name :")
lname=input("Enter your Last Name :")
age=int(input("Enter your age :"))

print("Hello, ",fname,lname,"! Next year, you will be", age+1, "years old.")

Enter your First Name :Madhira
Enter your Last Name :Srinivasareddy
Enter your age :35
Hello,  Madhira Srinivasareddy ! Next year, you will be 36 years old.

In [ ]:
# Assignment 4: Basic Arithmetic
#------------------------------
num1=int(input("Enter a number : "))
num2=int(input("Enter second number"))
print("Add :",num1+num2)
print("Diff :",num1-num2)
print("Mul :",num1*num2)
print("Div :",num1/num2)

Enter a number : 5
Enter second number10
Add : 15
Diff : -5
Mul : 50
Div : 0.5

In [ ]:
#Assignment 5: Combining Strings and Numbers
#Enter your name: Alice
#Enter your favorite number: 7
#Hello, Alice! Did you know that 7 times 2 is 14?

name=input("Enter your name :")
num=int(input("Enter your faviourit number"))
print("Hello, ",name,"Did you know that",num,"times 2 is ",num*2,"?")

Enter your name :Srini
Enter your faviourit number9
Hello,  Srini Did you know that 9 times 2 is  18 ?

In [ ]:
#Assignement 6
#Child" if the age is less than 13 - Done
#Teenager" if the age is between 13 and 19
#Adult" if the age is between 20 and 64
#Senior" if the age is 65 or older

age = int(input("Enter your Age :"))
if(age<13):
  print("Your are a Child")
if(age>=13 and age<=19):
    print("You are a Teenager")
if(age>19 and age<65):
    print("You are a Adult")
else:
  print("You are a Senior")

Enter your Age :35
You are a Adult

In [ ]:
#Assignment 7
#Check if the first number is greater than the second number.
#Check if the two numbers are equal.
#Check if the first number is less than or equal to the second number.
#Print appropriate messages based on the comparisons.

n1=int(input("Enter a number"))
n2=int(input("Enter a number"))
if(n1>n2):
  print(n1,"is greater than ",n2)
if(n1==n2):
  print("Both",n1,n2,"are equal")
if(n1<n2):
  print(n1,"is less than",n2)

Enter a number5
Enter a number10
5 is less than 10

In [ ]:
#Assignment 8
#Ask the user to input two numbers.
#Ask the user to choose an operation (+, -, *, /).
#Perform the operation on the two numbers and print the result.
#Handle cases where the user might enter an invalid operation

n1=int(input("Enter a number : "))
n2=int(input("Enter a number : "))
oper=input("Enter Operation : ")

if(oper=="+"):
  result = n1+n2
  print("Result is",result)
elif(oper=="-"):
  result = n1-n2
  print("Result is",result)
elif(oper=="*"):
  result = n1*n2
  print("Result is",result)
elif(oper=="/"):
  result = n1/n2
  print("Result is",result)
else:
  print("You have entered invalid Operation")

Enter a number : 10
Enter a number : 20
Enter Operation : *
Result is 200

In [ ]:
#Assignment 9: Sum of Even Numbers
total = 0
for num in range(1,11):
  if(num%2==0):
    total=total+num
print("Sum of even numbers between 1 to 10 is",total)

Sum of even numbers between 1 to 10 is 30

In [9]:
#Assignment 1:

#Create a list of your favorite fruits. Perform the following tasks:
fruits = ["Apple","Banana","Mango","Orange"]
print(fruits)
#Add a new fruit to the list.
fruits.append("Grapes")
print(fruits)
#Remove a fruit from the list.
fruits.remove("Banana")
print(fruits)
#Print the list in reverse order.
fruits.reverse()
print(fruits)
#Slice the list to print the first three fruits.
fruits = fruits[:3]
print(fruits)

['Apple', 'Banana', 'Mango', 'Orange']
['Apple', 'Banana', 'Mango', 'Orange', 'Grapes']
['Apple', 'Mango', 'Orange', 'Grapes']
['Grapes', 'Orange', 'Mango', 'Apple']
['Grapes', 'Orange', 'Mango']

In [19]:
#Assignment 2:

#Given the list [3, 5, 7, 9, 11, 13, 15], perform the following:
num_list = [3,5,7,9,11,13,15]
print(num_list)

#Append 17 to the list.
num_list.append(17)
print(num_list)

#Insert 1 at the beginning of the list.
num_list.insert(0,1)
print(num_list)

#Remove the number 9 from the list.
num_list.remove(9)
print(num_list)
#Find the index of the number 13.
print("13 is at ",num_list.index(13),"index position in given list")

[3, 5, 7, 9, 11, 13, 15]
[3, 5, 7, 9, 11, 13, 15, 17]
[1, 3, 5, 7, 9, 11, 13, 15, 17]
[1, 3, 5, 7, 11, 13, 15, 17]
13 is at  5 index position in given list

In [25]:
# 2. Sets
#Assignment 1:
#Create a set of numbers from 1 to 5. Perform the following operations:
num_set = {1,2,3,4,5}
print(num_set)

#Add the number 6 to the set.
num_set.add(6)
print(num_set)

#Remove the number 2 from the set.
num_set.remove(2)
print(num_set)

#Check if the number 3 is in the set.
if(3 in num_set):
  print("3 is found in num_set")
else:
  print("3 is not found in num_set")
#Find the union of this set with another set {4, 5, 6, 7}.
num_set1 = {4,5,6,7}
print(num_set.union(num_set1))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 3, 4, 5, 6}
3 is found in num_set
{1, 3, 4, 5, 6, 7}

In [30]:
#Assignment 2:

#Given two sets {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}, find:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
print(set1,set2)

#The union of the two sets.
print(set1.union(set2))

#The intersection of the two sets.
print(set1.intersection(set2))

#The difference between the first set and the second set.
print(set1.difference(set2))

#The symmetric difference between the two sets.
print(set1.symmetric_difference(set2))

{1, 2, 3, 4, 5} {4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

In [42]:
#3. Dictionaries
#Assignment 1:
#Create a dictionary that stores the following information about a book:
#Title: "To Kill a Mockingbird"
#Author: "Harper Lee"
#Year Published: 1960
#Genre: "Fiction"
dict1 = {
    "Title" : "To Kill a Mockingbird",
    "Author" : "Harper Lee",
    "Year Published" : 1960,
    "Genre" : "Fiction"
}
print(dict1)

#Perform the following:

#Add a key Pages with the value 281.
dict1["Pages"] = 281
print(dict1)

#Update the Year Published to 1961.
dict1["Year Published"] = 1961
print(dict1)

#Remove the Genre key from the dictionary.
dict1.pop("Genre")
print(dict1)

#Retrieve the value associated with the key Author.
print(dict1["Author"])

{'Title': 'To Kill a Mockingbird', 'Author': 'Harper Lee', 'Year Published': 1960, 'Genre': 'Fiction'}
{'Title': 'To Kill a Mockingbird', 'Author': 'Harper Lee', 'Year Published': 1960, 'Genre': 'Fiction', 'Pages': 281}
{'Title': 'To Kill a Mockingbird', 'Author': 'Harper Lee', 'Year Published': 1961, 'Genre': 'Fiction', 'Pages': 281}
{'Title': 'To Kill a Mockingbird', 'Author': 'Harper Lee', 'Year Published': 1961, 'Pages': 281}
Harper Lee

In [53]:
#Assignment 2:
#Given the dictionary student = {"name": "Alice", "age": 22, "courses": ["Math", "Science"]}, perform the following:
student = {
    "name" : "Alice",
    "age" : 22,
    "course" : ["Maths","Science"]
}
print(student)

#Add a new key graduated with the value False.
student["Grad"]="False"
print(student)

#Change the age to 23.
student["age"]="23"
print(student)

#Add "English" to the list of courses.
student["course"].append("English")
print(student)

#Use the get() method to retrieve the value of name and a non-existent key grade with a default value "N/A".
print(student.get("name"))
print(student.get("Grad1","N/A"))

{'name': 'Alice', 'age': 22, 'course': ['Maths', 'Science']}
{'name': 'Alice', 'age': 22, 'course': ['Maths', 'Science'], 'Grad': 'False'}
{'name': 'Alice', 'age': '23', 'course': ['Maths', 'Science'], 'Grad': 'False'}
{'name': 'Alice', 'age': '23', 'course': ['Maths', 'Science', 'English'], 'Grad': 'False'}
Alice
N/A