<a href="https://colab.research.google.com/github/MadhiraSrinivas/Phyton/blob/main/Phyton_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**This is a Text box to write a comments or notes**

In [ ]:
# My First "Hi" Phyton Program
# -----------------------------

print("Hi Srini !!")

Hi Srini !!

In [ ]:
# Print Multiple Strings
# ----------------------

print("Hi", "Srini", "!!" )

Hi Srini !!

In [ ]:
# Creating a variable & Value
# ---------------------------

a=5
print(a)

5

In [2]:
# Creating a String Variable & Value
# ----------------------------------

name="Srini"
print(name)
print("Hi ",name,", Welcome to Phyton")

Srini
Hi  Srini , Welcome to Phyton

In [ ]:
# Multiple Values
# ---------------

name="Srini"
age="35"
place="Narasaraopet"
print("\n",name,"\n",age,"\n",place)

 Srini
 35
 Narasaraopet

In [ ]:
# Arthematic operations
# ---------------------
num1=29
num2=7
print("Add :",num1+num2,"\n")
print("Sub :",num1-num2,"\n")
print("Div :",num1/num2,"\n")
print("Mult :",num1*num2,"\n")

Add : 36

Sub : 22

Div : 4.142857142857143

Mult : 203

In [ ]:
# Get the Datatypes
# -----------------

name="Srini"
age=35
decimal=24.02147
print(type(name))
print(type(age))
print(type(decimal))

<class 'str'>
<class 'int'>
<class 'float'>

In [12]:
# Type Convertions
# ----------------

name="Srini"
age=35
print("\n",name,"\n",age)

#After type convertion
#name_int=int(name) -- Not working
str_age=str(age)
print(str_age,type(str_age))
num_name=int("10")
print(num_name, type(num_name))

 Srini
 35
35 <class 'str'>
10 <class 'int'>

In [14]:
#Taking input from user
#---------------------

name=input("Enter your name : ")
print("Hi ",name, "!!")

Enter your name : Srini
Hi  Srini !!

In [21]:
#Arthematic Operations through input statement
#---------------------------------------------
num1 = int(input("Enter a number : "))
num2 = int(input("Enter another number"))
print("Add :", num1+num2)
print("Sub :", num1-num2)
print("Div :", num1/num2)
print("Mult :",num1*num2)

Enter a number : 5
Enter another number5
Add : 10
Sub : 0
Div : 1.0
Mult : 25

In [1]:
#Assignment #1
#-------------
print("Srinivasa Reddy Madhira")
print("Playing Badminton")
print("2 hours")

Srinivasa Reddy Madhira
Playing Badminton
2 hours

In [2]:
#Assignment 2: Working with Variables
#-----------------------------------
name="Srini"
age=35
fc="Blue"
print("My name is ",name,"I am ",age,"years old, ","and my favorite color is",fc)

My name is  Srini I am  35 years old,  and my favorite color is Blue

In [6]:
# Assignment 3: Simple Input and Output
#--------------------------------------
fname=input("Enter your First Name :")
lname=input("Enter your Last Name :")
age=int(input("Enter your age :"))

print("Hello, ",fname,lname,"! Next year, you will be", age+1, "years old.")

Enter your First Name :Madhira
Enter your Last Name :AarthishReddy
Enter your age :11
Hello,  Madhira AarthishReddy ! Next year, you will be 12 years old.

In [7]:
# Assignment 4: Basic Arithmetic
#------------------------------
num1=int(input("Enter a number : "))
num2=int(input("Enter second number"))
print("Add :",num1+num2)
print("Diff :",num1-num2)
print("Mul :",num1*num2)
print("Div :",num1/num2)

Enter a number : 296
Enter second number277
Add : 573
Diff : 19
Mul : 81992
Div : 1.068592057761733

In [10]:
#Assignment 5: Combining Strings and Numbers
#Enter your name: Alice
#Enter your favorite number: 7
#Hello, Alice! Did you know that 7 times 2 is 14?

name=input("Enter your name :")
num=int(input("Enter your faviourit number"))
print("Hello, ",name,"Did you know that",num,"times 2 is ",num*2,"?")

Enter your name :pl
Enter your faviourit number4
Hello,  pl Did you know that 4 times 2 is  8 ?

In [31]:
#Child" if the age is less than 13 - Done
#Teenager" if the age is between 13 and 19
#Adult" if the age is between 20 and 64
#Senior" if the age is 65 or older

age = int(input("Enter your Age :"))
if(age<13):
  print("Your are a Child")
if(age>=13 and age<=19):
    print("You are a Teenager")
if(age>19 and age<65):
    print("You are a Adult")
else:
  print("You are a Senior")

Enter your Age :65
You are a Senior

In [40]:
#Check if the first number is greater than the second number.
#Check if the two numbers are equal.
#Check if the first number is less than or equal to the second number.
#Print appropriate messages based on the comparisons.

n1=int(input("Enter a number"))
n2=int(input("Enter a number"))
if(n1>n2):
  print(n1,"is greater than ",n2)
if(n1==n2):
  print("Both",n1,n2,"are equal")
if(n1<n2):
  print(n1,"is less than",n2)

Enter a number34
Enter a number68
34 is less than 68

In [45]:
#Ask the user to input two numbers.
#Ask the user to choose an operation (+, -, *, /).
#Perform the operation on the two numbers and print the result.
#Handle cases where the user might enter an invalid operation

n1=int(input("Enter a number : "))
n2=int(input("Enter a number : "))
oper=input("Enter Operation : ")

if(oper=="+"):
  result = n1+n2
  print("Result is",result)
elif(oper=="-"):
  result = n1-n2
  print("Result is",result)
elif(oper=="*"):
  result = n1*n2
  print("Result is",result)
elif(oper=="/"):
  result = n1/n2
  print("Result is",result)
else:
  print("You have entered invalid Operation")

Enter a number : 5
Enter a number : 5
Enter Operation : *
Result is 25

In [55]:
#Assignment 4: Sum of Even Numbers
total = 0
for num in range(1,11):
  if(num%2==0):
    total=total+num
print("Sum of even numbers between 1 to 10 is",total)

Sum of even numbers between 1 to 10 is 30