<a href="https://colab.research.google.com/github/MadhiraSrinivas/Phyton/blob/main/Phyton_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**This is a Text box to write a comments or notes**

In [ ]:
# My First "Hi" Phyton Program
# -----------------------------

print("Hi Srini !!")

Hi Srini !!

In [ ]:
# Print Multiple Strings
# ----------------------

print("Hi", "Srini", "!!" )

Hi Srini !!

In [ ]:
# Creating a variable & Value
# ---------------------------

a=5
print(a)

5

In [2]:
# Creating a String Variable & Value
# ----------------------------------

name="Srini"
print(name)
print("Hi ",name,", Welcome to Phyton")

Srini
Hi  Srini , Welcome to Phyton

In [ ]:
# Multiple Values
# ---------------

name="Srini"
age="35"
place="Narasaraopet"
print("\n",name,"\n",age,"\n",place)

 Srini
 35
 Narasaraopet

In [ ]:
# Arthematic operations
# ---------------------
num1=29
num2=7
print("Add :",num1+num2,"\n")
print("Sub :",num1-num2,"\n")
print("Div :",num1/num2,"\n")
print("Mult :",num1*num2,"\n")

Add : 36

Sub : 22

Div : 4.142857142857143

Mult : 203

In [ ]:
# Get the Datatypes
# -----------------

name="Srini"
age=35
decimal=24.02147
print(type(name))
print(type(age))
print(type(decimal))

<class 'str'>
<class 'int'>
<class 'float'>

In [12]:
# Type Convertions
# ----------------

name="Srini"
age=35
print("\n",name,"\n",age)

#After type convertion
#name_int=int(name) -- Not working
str_age=str(age)
print(str_age,type(str_age))
num_name=int("10")
print(num_name, type(num_name))

 Srini
 35
35 <class 'str'>
10 <class 'int'>

In [14]:
#Taking input from user
#---------------------

name=input("Enter your name : ")
print("Hi ",name, "!!")

Enter your name : Srini
Hi  Srini !!

In [21]:
#Arthematic Operations through input statement
#---------------------------------------------
num1 = int(input("Enter a number : "))
num2 = int(input("Enter another number"))
print("Add :", num1+num2)
print("Sub :", num1-num2)
print("Div :", num1/num2)
print("Mult :",num1*num2)

Enter a number : 5
Enter another number5
Add : 10
Sub : 0
Div : 1.0
Mult : 25

<class 'list'>
[[1, 2, 3]]