<a href="https://colab.research.google.com/github/MadhiraSrinivas/Phyton/blob/main/Phyton_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**This is a Text box to write a comments or notes**

In [ ]:
# My First "Hi" Phyton Program
# -----------------------------

print("Hi Srini !!")

Hi Srini !!

In [ ]:
# Print Multiple Strings
# ----------------------

print("Hi", "Srini", "!!" )

Hi Srini !!

In [ ]:
# Creating a variable & Value
# ---------------------------

a=5
print(a)

5

In [ ]:
# Creating a String Variable & Value
# ----------------------------------

name="Srini"
print(name)
print("Hi ",name,", Welcome to Phyton")

Srini
Hi  Srini , Welcome to Phyton

In [ ]:
# Multiple Values
# ---------------

name="Srini"
age="35"
place="Narasaraopet"
print("\n",name,"\n",age,"\n",place)

 Srini
 35
 Narasaraopet

In [ ]:
# Arthematic operations
# ---------------------
num1=29
num2=7
print("Add :",num1+num2,"\n")
print("Sub :",num1-num2,"\n")
print("Div :",num1/num2,"\n")
print("Mult :",num1*num2,"\n")

Add : 36

Sub : 22

Div : 4.142857142857143

Mult : 203

In [ ]:
# Get the Datatypes
# -----------------

name="Srini"
age=35
decimal=24.02147
print(type(name))
print(type(age))
print(type(decimal))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
# Type Convertions
# ----------------

name="Srini"
age=35
print("\n",name,"\n",age)

#After type convertion
#name_int=int(name) -- Not working
str_age=str(age)
print(str_age,type(str_age))
num_name=int("10")
print(num_name, type(num_name))

 Srini
 35
35 <class 'str'>
10 <class 'int'>

In [ ]:
#Taking input from user
#---------------------

name=input("Enter your name : ")
print("Hi ",name, "!!")

Enter your name : Srini
Hi  Srini !!

In [ ]:
#Arthematic Operations through input statement
#---------------------------------------------
num1 = int(input("Enter a number : "))
num2 = int(input("Enter another number"))
print("Add :", num1+num2)
print("Sub :", num1-num2)
print("Div :", num1/num2)
print("Mult :",num1*num2)

Enter a number : 5
Enter another number5
Add : 10
Sub : 0
Div : 1.0
Mult : 25

In [10]:
#Trying LIST
#Create a List (name)& (numbers)and print

emp_list=['Srini','Ravi','Bhaskar','Guna']
yrs_of_exp=[8,13,9,7]
sal=[10,15,12,10]
#print(name_list)
print(emp_list)
print(yrs_of_exp)
print(sal)

#Slicing list
#------------
#print(name_list[2:])
#print(age_list[3:])

#Modifing List
#emp_list[0]="Bujji"
#print(emp_list)

# Adding an item
#---------------
emp_list.append("Prashant")
yrs_of_exp.append(10)
sal.append(13.5)
print("=================","\n",emp_list,"\n",yrs_of_exp,"\n",sal)

#insert test
#-----------
emp_list.insert(2,"Ondrilla")
yrs_of_exp.insert(3,"25")
sal.insert(5, "115")
print("*******************","\n",emp_list,"\n",yrs_of_exp,"\n",sal)

#pop()

#Temp
print(emp_list)
emp_list.pop(2)
yrs_of_exp.pop(3)
sal.pop(5)
print("=================","\n",emp_list,"\n",yrs_of_exp,"\n",sal)

#emp_list.index("Srini")
#sal.sort()
#print(sal)
#emp_list.reverse()
#print(emp_list)

['Srini', 'Ravi', 'Bhaskar', 'Guna']
[8, 13, 9, 7]
[10, 15, 12, 10]
=================
 ['Srini', 'Ravi', 'Bhaskar', 'Guna', 'Prashant']
 [8, 13, 9, 7, 10]
 [10, 15, 12, 10, 13.5]
*******************
 ['Srini', 'Ravi', 'Ondrilla', 'Bhaskar', 'Guna', 'Prashant']
 [8, 13, 9, '25', 7, 10]
 [10, 15, 12, 10, 13.5, '115']
['Srini', 'Ravi', 'Ondrilla', 'Bhaskar', 'Guna', 'Prashant']
=================
 ['Srini', 'Ravi', 'Bhaskar', 'Guna', 'Prashant']
 [8, 13, 9, 7, 10]
 [10, 15, 12, 10, 13.5]

In [9]:
#List to set convertion
#---------------------
number=[1,1,2,3,4,5,6,7,8,8,9,5,7,1]
num_set=set(number)
print(num_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [15]:
#For Loop
#--------
emp_list=['Srini','Ravi','Bhaskar','Guna','Sudheer','Prashant']
yrs_of_exp=[8,13,9,7,13,10]
sal=[10,15,12,10,15,13.5]
for emp in emp_list:
    print(emp)
for exp in yrs_of_exp:
    print(exp)
for salary in sal:
    print(salary)

Srini
Ravi
Bhaskar
Guna
Sudheer
Prashant
8
13
9
7
13
10
10
15
12
10
15
13.5

In [25]:
# FOR IN range
for num in range(1,10):
    print("In Foor Loop")
print("Out from Fro Loop")
# while In range
num=0
while num<10:
    print(num)
    num+=1
print("Number is grater than 10")

In Foor Loop
In Foor Loop
In Foor Loop
In Foor Loop
In Foor Loop
In Foor Loop
In Foor Loop
In Foor Loop
In Foor Loop
Out from Fro Loop
0
1
2
3
4
5
6
7
8
9
Entered number is grater than 10

In [39]:
#Iterate in loop on User given range
num1=int(input("Enter a number : "))
num2=int(input("Enter another number : "))
for num3 in range(num1,num2):
    print(num3,"In For loop")
    if(num3==10):
      print("Your program will break if found 10 in the sequence")
      break
print("out of loop")

Enter a number : 8
Enter another number : 12
8 In For loop
9 In For loop
10 In For loop
Your program will break if found 10 in the sequence
out of loop

In [53]:
#Set

emp_set={'Srini','Ravi','Bhaskar','Guna','Sudheer','Prashant'}
rotta=["Arun","Rahul","Ondrilla"]
emp_set.update(rotta)
for item in rotta:
  emp_set.remove(item)
print(emp_set)

{'Bhaskar', 'Ravi', 'Guna', 'Prashant', 'Sudheer', 'Srini'}

In [56]:
#Union in set
#------------
cw_set = {'Srini','Ravi','Guna'}
fte_set = {'Bhaskar','Prashant','Sudheer'}
print(cw_set)
print(fte_set)
tiaa_set = fte_set.union(cw_set)
print(tiaa_set)

{'Guna', 'Ravi', 'Srini'}
{'Prashant', 'Bhaskar', 'Sudheer'}
{'Prashant', 'Bhaskar', 'Guna', 'Ravi', 'Srini', 'Sudheer'}

In [28]:
# add
#----
names=set()
item=0
for item in range(6):
  input_name=input("Enter a name : ")
  names.add(input_name)
  item+=1
#print(names)
#names={''}
#names.add('Srini')
print(names)
names.update(['Kiran'])
print("After update fun :",names)
print(type(names))

Enter a name : Srini
Enter a name : Ravi
Enter a name : Bhaskar
Enter a name : Guna
Enter a name : Prashant
Enter a name : Sudheer
{'Guna', 'Sudheer', 'Srini', 'Bhaskar', 'Prashant', 'Ravi'}
After update fun : {'Guna', 'Sudheer', 'Srini', 'Kiran', 'Bhaskar', 'Prashant', 'Ravi'}
<class 'set'>

In [34]:
all={'Srini','Ravi','Bhaskar','Guna','Sudheer','Prashant'}
fte={'Bhaskar','Prashant','Sudheer'}
cw=all.difference(fte)
print(cw)
#

{'Guna', 'Ravi', 'Srini'}

In [ ]:
#need to iterate the for loop, but not to specific numbers
#if i find empty enter then store the before names to set
#ex : for item in range' '
      #if(item== )
      #    break
#

In [7]:
# dictionary
emp1={
    "name" :'Srini',
    "age" : 33,
    "place" : 'Narasaraopet',
    #"salary" :1000000
}
emp2={
    "name" :'Ravi',
    "age" : 38,
    "place" : 'Guntur'
}
emp3={
    "name" :'Bhaskar',
    "age" : 35,
    "place" : 'Nellor'
}

emp1["age"]=34
emp1["name"]="Bujji"
print(emp1.get("name","No name"),",",emp1.get("place","No place"),",",emp1.get("age","No age"))
print(emp2.get("name","No name"),",",emp2.get("place","No Place"),",",emp2.get("age","No age"))
print(emp3.get("name","No name"),",",emp3.get("place","No place"),",",emp3.get("age","No age"))

if "salary" in emp1:
  print("Salary is present")
else:
  print("Salary is not present")

if "name" in emp1:
  print("Name is present")
else:
  print("Name is not present")

emp1["email"]="sri@gmail.com"
print(emp1)
emp2["salary"]=2000000
print(emp2)
emp3["contact"]=9785497854
print(emp3)

# difference
diff=set(emp2).difference (emp1)
print(diff)

#popitem

#data1 = emp1.popitem()
#print(data1)
#data1 = emp2.pop("salary")
#print(data1)
#data1 = emp3.popitem()
#print(data1)

#print(emp1)
#print(emp2)
#print(emp3)

#fromkey()
emp4_key = ['name','age','place']
emp4_value = "unknown"
emp4 = dict.fromkeys(emp4_key,emp4_value)
print(emp4)

Bujji , Narasaraopet , 34
Ravi , Guntur , 38
Bhaskar , Nellor , 35
Salary is not present
Name is present
{'name': 'Bujji', 'age': 34, 'place': 'Narasaraopet', 'email': 'sri@gmail.com'}
{'name': 'Ravi', 'age': 38, 'place': 'Guntur', 'salary': 2000000}
{'name': 'Bhaskar', 'age': 35, 'place': 'Nellor', 'contact': 9785497854}
{'salary'}
{'name': 'unknown', 'age': 'unknown', 'place': 'unknown'}