<a href="https://colab.research.google.com/github/MadhiraSrinivas/Phyton/blob/main/Phyton_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**This is a Text box to write a comments or notes**

In [1]:
# My First "Hi" Phyton Program
print("Hi Srini !!")

Hi Srini !!

In [2]:
# Print Multiple Strings
print("Hi", "Srini", "!!" )

Hi Srini !!

In [3]:
# Creating a variable & Value
a=5
print(a)

5

In [4]:
# Creating a String Variable & Value
name="Srini"
print(name)

Srini

In [9]:
# Multiple Values
name="Srini"
age="35"
place="Narasaraopet"
print("\n",name,"\n",age,"\n",place)

 Srini
 35
 Narasaraopet

In [10]:
# Arthematic operations
num1=29
num2=7
print("Add :",num1+num2,"\n")
print("Sub :",num1-num2,"\n")
print("Div :",num1/num2,"\n")
print("Mult :",num1*num2,"\n")

Add : 36

Sub : 22

Div : 4.142857142857143

Mult : 203

In [14]:
# Get the Datatypes
name="Srini"
age=35
decimal=24.02147
print(type(name))
print(type(age))
print(type(decimal))

<class 'str'>
<class 'int'>
<class 'float'>